h1 {
	background-color: sienna;
}

h1:hover{
	background-color: darkblue;
	color: lime;
}

h2 {
	background-color: lime;
}

#h2-1:hover {
	background-color: aqua;
}

#h2-2:hover {
	background-color: aqua;
}

body {
	background-color: forestgreen;
}

body:hover{
	background-color: magenta;
}

#p1:hover {
	background-color: chartreuse;
	color: darkblue;
}

#p2:hover{
	background-color: teal;
	color: white;
}
